@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;1,400&display=swap');
/*
font-family: 'Inconsolata', monospace;
font-family: 'Montserrat', sans-serif;
*/


html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding:0;
    color: #756464;
    background-color: #eee6e6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
    height:auto;
}

a {
    text-decoration: none;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
}

#top-nav ul {
    padding-left:40px;
    margin:0 0 50px 0;
}

#top-nav li{
    list-style-type:none;
    display:inline-block;
    padding: 20px 40px 11px 0;
    border-bottom: 3px solid #584b4b;
    margin: 0 10px;
    font-weight: 500;
}

#top-nav li:hover {
    border-bottom: 5px solid #584b4b;
}

.content-wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}


#home-intro {
    display: flex;
    text-align: left;
    gap: 2em;
    justify-content: center;
    
   
}


#portfolio-picture {
    border-radius: 50% 50% 0 0;
    box-shadow: 10px 10px 5px grey;
    
}

#home-intro-text {
    padding-top: 100px;
    width: auto;
}

#home-intro-text  h1{
    font-size: 90px;
    margin:0;
    font-weight: 400;
    font-style: italic;
  
}

#highlights {
    background-color: rgba(255,255,255,0.4);
    padding: 60px 30px 30px 30px;
    position: relative;
    margin-top:-100px;
    z-index: -1;
}

#highlights h2{
    font-size: 100px;
    padding:0;
    margin:0;
    padding: 0 70px;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
}

#highlights h3{
    font-size: 36px;
    margin: 0;
}

#highlights p{
    font-size: 16px;
    line-height: 28px;
}

.highlights-row {
    margin-bottom: 20px;
}

.highlights-row1-image, .highlights-row2-image{
    flex: 1 0 0;
}

.highlights-row1-text, .highlights-row2-text {
    flex:1 0 0;
    color: black;
}

.highlights-row-text p{
    width:80%;
    margin-bottom: 30px;
}

.button {
    padding: 9px 15px;
    font-size: 16px;
    color: #756464;
    border: 1px solid #756464;
    border-radius: 10px;
}

#highlights .button {
    float: right;
    margin-right: 50px;
}

#highlights a:hover{
    color:black;
    border: 1px solid black;
}

#footer {
    bottom:0;
    padding: 40px 50px;
    font-size: 12px;
    color: #1a1b1f;
}

#footer ul{
    padding:0;
    margin:0;
    list-style-type: none;
}
#footer li{
    float: right;
}

#footer li a {
    margin: 0 40px;
}


@media only screen and (max-width: 768px) {
    .highlights-row1-image, .highlights-row2-image {
        flex: 1 0 100%;
    }
    
    .highlights-row1-text, .highlights-row2-text{
        flex:1 0 100%;
    }
    .highlights-row2-text {
        order: 1;
    }
    #home-intro-text  h1{
        font-size: 50px;
    }
  }