<footer>
  <ul>
      <li style="float:left;">&copy Moon Chung <%= moment().format('YYYY');%></li>
      <li><a href="tel:+19053258736">+1 (905) 325-8736</a></li>
      <li><a href="mailto:chungyy917@gmail.com">chungyy917@gmail.com</a></li>
      <li><a href="https://www.linkedin.com/in/moon-chung/">LinkedIn</a></li>
  </ul>
</footer>