<footer>
  <ul>
      <li style="float:left;">&copy Moon Chung <%= moment().format('YYYY');%></li>
      <li>
        <a href="tel:+19053258736">
          <p>+1 (905) 325-8736</p>
          <i class="fa-solid fa-phone"></i>
        </a>
      </li>
      <li>
        <a href="mailto:moonchungyuetyi@gmail.com">
          <p>moonchungyuetyi@gmail.com</p>
          <i class="fa-solid fa-envelope"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/moon-chung/">
          <p>LinkedIn</p>
          <i class="fa-brands fa-linkedin-in"></i>
      </a>
      </li>
  </ul>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</footer>