<header>
  <nav id="top-nav">
      <ul>
          <li><a href="#"></a>Work</li>
          <li><a href="#"></a>About</li>
          <li><a href="#"></a>Contact</li>
          <li><a href="#"></a>Resume</li>
      </ul>
  </nav>
</header> 