<header>
  <nav>
    <ul>
        <li id="home"><a href="/">Moon Chung</a></li>
        <div>
          <li><a href="/works">Work</a></li>
          <li><a href="#"></a>About</li>
          <li><a href="#"></a>Contact</li>
          <li id="resume">Resume</li>
        </div>
        </ul>
  </nav>
</header> 