<header>
  <nav>
      <ul>
          <li><a href="#"></a>Work</li>
          <li><a href="#"></a>About</li>
          <li><a href="#"></a>Contact</li>
          <li id="resume">Resume</li>
      </ul>
  </nav>
</header> 