<header>
  <nav>
    <ul>
      <li id="home"><a href="/">Moon Chung</a></li>
      <div>
        <i class="fa-solid fa-bars"></i>
        <div class="menu" id="toc">
          <li><a href="/">UX/UI Design</a></li>
          <li id="resume">Resume</li>
          <li><a href="https://www.linkedin.com/in/moon-chung/">LinkedIn</a></li>
        </div>
      </div>
    </ul>
  </nav>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript", src="/scripts/resume.js"></script>
  <script type="text/javascript", src="/scripts/toc.js"></script>
</header> 