<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Sunny Chung and Alan Mak">
  <title>AccessNow Redesign</title>
  <link rel="stylesheet" type="text/css" href="/styles/_header.css">
  <link rel="stylesheet" type="text/css" href="/styles/_footer.css">
  <link rel="stylesheet" type="text/css" href="/styles/access.css">
  <link rel="stylesheet" type="text/css" href="/styles/_back.css">
</head>

<body>
  <%- include('partials/_header.ejs') %>
    <%- include('partials/_back.ejs') %>
      <main>
        <div id="project4">
          <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/access/logo.png" alt="logo">
          <div>
            <h1>Access Now</h1>
            <h2>Mobile App Redesign</h2>
          </div>
        </div>
        <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/project4.jpg" alt="AccessNow" id="accessnow">
        <div id="info">
          <section class="title">
            <div class="line"></div>
            <h1>Summary</h1>
          </section>
          <div id="summary">
            <section>
              <h2>Overview</h2>
              <p>Our team redesigned the moblie application for Access Now. We are hoping the new version of Acess Now
                will benefit more user when looking for a place that is accessible.
              </p>
              <h2>Problem Statement</h2>
              <p>Disable people are facing issue when using the Access Now apps because the apps itself is not
                accessbile enough for them to easily find the information that they are looking for.<span>How might we
                  design a moblie application that helps users to easily look for accessbilty tags and engage with the
                  community.</span></p>
            </section>
            <section style="width: 25%;">
              <h2>Details</h2>
              <h6 class="detailTitle">My Role</h6>
              <h6>Researcher, UX/UI Designer, User-Testing Facilitator, Director</h6>
              <h6 class="detailTitle">The Team</h6>
              <h6>4 UX Designers<br>1 Web Developer</h6>
              <h6 class="detailTitle">Duration</h6>
              <h6>14 Weeks, January - April 2022</h6>
              <h6 class="detailTitle">Project Type</h6>
              <h6>School Project</h6>
            </section>
          </div>
        </div>
        <div id="prototype">
          <section class="title">
            <div class="line"></div>
            <h1>Prototype</h1>
          </section>
          <h3 class="title-highlight">Wireframes<section>Hi-Fi</section>
          </h3>
          <section class="button-container"><a
              href="https://www.figma.com/proto/KLvHEznvjPb6iwSUe9mHei/Hi-fi-Vaccine?node-id=218%3A3629&scaling=scale-down&page-id=0%3A1&starting-point-node-id=218%3A3606"
              class="button">See My Prototype</a></section>
          <section id="hifi">
            <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/access/prototype/hifi_map.png"
              alt="map">
            <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/access/prototype/hifi_list.png"
              alt="list">
            <img
              src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/access/prototype/hifi_contribute.png"
              alt="contribute">
          </section>
          <h3 class="h3-section">New Features</h3>
          <div id="new_features">
            <section>
              <img
                src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/access/prototype/feature_info.png"
                alt="info">
              <p><span>Accessibility tags<br></span>We added icons and text for the accessbility tags. It will be easier
                for user to understand the meaning of the tags and what is accessible from a specific store.</p>
            </section>
            <section style="flex-direction: row-reverse;">
              <img
                src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/access/prototype/feature_filter.png"
                alt="filter">
              <p><span>New filters design<br></span>Text that needs to be added</p>
            </section>
            <section>
              <img
                src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/access/prototype/feature_profile.png"
                alt="profile">
              <p><span>Gamify the community<br></span>Text that needs to be added</p>
            </section>
          </div>
        </div>
        <div id="design">
          <section class="title">
            <div class="line"></div>
            <h1>Design Process</h1>
          </section>
          <h3 class="title-highlight">Discovery</h3>
          <h3 class="h3-section">Heuristic Evaluation</h3>
          <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/access/design/herustic.png"
            alt="herustic">
          <h3 class="h3-section">Secondary Reserach Insights & Brainstorm</h3>
          <section id="brainstorm">
            <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/access/design/brainstorm_1.png"
              alt="brainstorm_1">
            <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/access/design/brainstorm_2.png"
              alt="brainstorm_2">
            <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/access/design/brainstorm_3.png"
              alt="brainstorm_3">
            <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/access/design/brainstorm_4.png"
              alt="brainstorm_4">
          </section>
          <h3 class="h3-section">Research User Interview</h3>
          <section id="design_points">
            <ul>
              <p>User Pain Points</p>
              <p>Web Developer:</p>
              <li>Outdated information(eg: store location)</li>
              <li>Link that do not have 'title' or 'alt' text</li>
              <p>Content Strategy:</p>
              <li>Tone of voice is informational, not community oriented as it brands itself to be</li>
              <li>Little to no context, pages with "add" and "Profile" have no endpoints</li>
              <p>User Interface / User Experience:</p>
              <li>Unclear instructions</li>
              <li>Lack of graphics</li>
              <li>Imbalanced colour contrast</li>
              <li>Unclear icon legend</li>
            </ul>
            <ul>
              <p>User Needs:</p>
              <li>Clear navigation</li>
              <li>Legible contents and icons </li>
              <li>Clear instruction</li>
              <li>More graphics</li>
              <li>More up-to-date information </li>
              <li>Description text for all links & photos</li>
              <li>To have a fun and friendly community</li>
              <li>To be able to review others’ comment</li>
              <li>To have a visualized the accessibility </li>tags on the filter page
              <li>To have a balanced colour contrast</li>
            </ul>
          </section>
        </div>
        <div id="define">
          <h3 class="title-highlight">Define</h3>
          <h3 class="h3-section">Analysis</h3>
          <section id="analysis">
            <div>
              <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/access/define/analysis_1.png"
                alt="analysis_1">
              <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/access/define/analysis_2.png"
                alt="analysis_2">
            </div>
            <div>
              <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/access/define/analysis_3.png"
                alt="analysis_3">
              <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/access/define/analysis_4.png"
                alt="analysis_4">
            </div>
          </section>
          <h3 class="h3-section">Persona</h3>
          <section id="persona">
            <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/access/define/persona.png"
              alt="persona">
            <h3 class="title-highlight">Ideate</h3>
            <h3 class="h3-section">User Flow</h3>
            <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/access/ideate/userflow_1.png"
              alt="userflow_1">
            <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/access/ideate/userflow_2.png"
              alt="userflow_2">
            <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/access/ideate/userflow_3.png"
              alt="userflow_3">
            <h3 class="h3-section">Wireflow</h3>
            <h4 class="h4-section">Task 1</h4>
            <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/access/ideate/wireflow_1.png"
              alt="wireflow_1">
            <h4 class="h4-section">Task 2</h4>
            <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/access/ideate/wireflow_2.png"
              alt="wireflow_2" style="width: 98%;">
            <h4 class="h4-section">Task 3</h4>
            <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/access/ideate/wireflow_3.png"
              alt="wireflow_3">
          </section>
        </div>
        <section class="button-container"><a
            href="https://www.figma.com/proto/KLvHEznvjPb6iwSUe9mHei/Hi-fi-Vaccine?node-id=218%3A3629&scaling=scale-down&page-id=0%3A1&starting-point-node-id=218%3A3606"
            class="button">See My Prototype</a></section>
      </main>
</body>
<%- include('partials/_footer.ejs') %>

</html>