<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Sunny Chung and Alan Mak">
  <title>Moon Chung</title>
  <link rel="stylesheet" type="text/css" href="/styles/_header.css">
  <link rel="stylesheet" type="text/css" href="/styles/_footer.css">
  <link rel="stylesheet" type="text/css" href="/styles/boozy.css">
</head>

<body>
  <%- include('partials/_header.ejs') %>
    <main>
      <img src="#" alt="LOGO">
      <div id="boozyimage"></div>
      <div>
        <h1>Boozy Melts</h1>
        <h3><a src="#">[URL Placeholder]</a></h3>
        <div>
          <section>
            <h1>Overview</h1>
            <p>Boozy Melts is a local ice-cream store based in Etobicoke that serves alcoholic and non-alcoholic
              ice-creams.</p>
            <h1>Problem Statement</h1>
            <p>Women between 25-45 who are active on social media sometimes have the problem of finding unique places to
              hang out outside of the usual patio restaurants and bars especially those that are environmentally
              cautious and supportive of small businesses.</p>
          </section>
          <section style="width: 25%;">
            <h1>Details</h1>
            <h3 class="detailTitle">My Role</h3>
            <h3>Research, Analysis, UX Design, User-Testing</h3>
            <h3 class="detailTitle">The Team</h3>
            <h3>2 UX Designers</h3>            
            <h3 class="detailTitle">Duration</h3>
            <h3>7 Weeks, October - December 2021</h3>
            <h3 class="detailTitle">Project Type</h3>
            <h3>School Project</h3>
          </section>
        </div>
      </div>
    </main>
    <%- include('partials/_footer.ejs') %>
</body>

</html>