<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Sunny Chung and Alan Mak">
  <title>Ontario Vaccine Redesign</title>
  <link rel="stylesheet" type="text/css" href="/styles/_header.css">
  <link rel="stylesheet" type="text/css" href="/styles/_footer.css">
  <link rel="stylesheet" type="text/css" href="/styles/ontario.css">
  <link rel="stylesheet" type="text/css" href="/styles/_back.css">
</head>

<body>
  <%- include('partials/_header.ejs') %>
  <%- include('partials/_back.ejs') %>
    <main>
      <div id="project3">
        <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/ontario/logo.png" alt="logo">
        <div>
          <h1>Ontario Booking System</h1>
          <h2>Brand New Mobile App Design</h2>
        </div>
      </div>
      <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/project3.png" alt="Ontario Redesign" id="ontarioimage">
      <div id="info">
        <section class="title">
          <h1>Summary</h1>
        </section>
        <div id="summary">
          <section>
            <h2>Overview</h2>
            <p>Our team designed a brand new Ontario Goverment mobile application for users who wish to book COVID-19
              vaccinations.
            </p>
            <h2>Problem Statement</h2>
            <p>Canadian Citizen and Ontario resident are experiencing confusion with the current booking system because
              of the unclear instruction.<span>How might we design a moblie application that helps users to easily book
                and manage vaccine booking also search for their past vaccination information.</span></p>
          </section>
          <section style="width: 40%;">
            <h2>Details</h2>
            <h6 class="detailTitle">My Role</h6>
            <h6>Researcher, UX/UI Designer, User-Testing Facilitator, Director</h6>
            <h6 class="detailTitle">The Team</h6>
            <h6>4 UX Designers</h6>
            <h6 class="detailTitle">Duration</h6>
            <h6>14 Weeks, January - April 2022</h6>
            <h6 class="detailTitle">Project Type</h6>
            <h6>School Project</h6>
          </section>
        </div>
      </div>
      <div id="demo">
        <section class="title">
          <h1>Demo</h1>
        </section>
        <section>
          <iframe height="600" width="90%" src="https://www.youtube.com/embed/tyBxNJAlBug" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
      </div>
      <div id="prototype">
        <section class="title">
          <h1>Prototype</h1>
        </section>
        <h3 class="title-highlight">Hi-Fi</h3>
        <section class="button-container"><a href="https://www.figma.com/proto/KLvHEznvjPb6iwSUe9mHei/Hi-fi-Vaccine?node-id=218%3A3629&scaling=scale-down&page-id=0%3A1&starting-point-node-id=218%3A3606" class="button">See My Prototype</a></section>
        <section id="hifi">
          <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/ontario/prototype/hi-fi_booking.png" alt="booking">
          <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/ontario/prototype/hi-fi_List.png" alt="list">
          <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/ontario/prototype/hi-fi_upcoming.png" alt="upcoming">
        </section>
      </div>
      <div id="features">
        <h3 class="title-highlight">New Features</h3>
        <div id="new_features">
          <section>
            <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/ontario/prototype/feature_healthcard.png" alt="healthcard">
            <p><span>Multi options to create account<br><br></span>
              We provide a few options: Green Healthcard, Red and White Healthcard and I don’t have a Healthcard for user who has or does not have healthcard to sign up for an account. The new feature helps a non-citizen user avoid the need to call the government center to book a vaccination appoinment.</p>
          </section>
          <section style="flex-direction: row-reverse;">
            <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/ontario/prototype/feature_date.png" alt="scanner">
            <p><span>Book an appointment by preference<br><br></span>User are able to choose the booking by distance or by date. Since everyone’s needs are different, some user might prefer to choose the neareast location, and some might think location is not a problem for them so they’d rather choose by the date. And we have provided the two differnt options for all user who wishes to book the appointment in different ways.</p>
          </section>
          <section>
            <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/ontario/prototype/feature_scanner.png" alt="scanner">
            <p><span>Scan your healthcard<br><br></span>Click the camera icon and let the phone do the work! User can easily turn on the camera and let the phone scan their health card. This way they don’t have to look at the tiny numbers and letters on their healthcard and there is no need to input the information manually.</p>
          </section>
        </div>
      </div>
      <div id="design">
        <section class="title">
          <h1>Design Process</h1>
        </section>
        <h3 class="title-highlight">Discovery</h3>
        <h3 class="h3-section">Research User Interview</h3>
        <section id="design_points">
          <div>
            <p>User Pain Points</p>
            <ul>
              <li>Long and unclear instructions</li>
              <li>Repeated process for booking vaccine appointment and checking appointment</li>
              <li>Unsure which location is the nearest location</li>
              <li>Do not understand some complex wording</li>
            </ul>
          </div>
          <div style="width: 30%;">
            <p>User Needs</p>
            <ul>
              <li>Clear instructions</li>
              <li>Easy process</li>
              <li>Better Navigation</li>
              <li>Simple Language</li>
            </ul>
          </div>
        </section>
        <h3 class="title-highlight">Define</h3>
        <h3 class="h3-section">Card Sorting</h3>
        <p>We asked participants to do a card sorting activity during the interviews to see what is their understanding of the Ontario government vaccination booking webstie. After our team has analysis the participants’ card sorting, we then found the pattern and created a new final card sorting.</p>
        <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/ontario/design/final_sorting.jpeg" alt="final sorting">
        <h3 class="title-highlight">Ideate</h3>
        <h3 class="h3-section">User Flow</h3>
        <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/ontario/ideate/user_flow.png" alt="user flow">
        <h3 class="h3-section">Wireflow</h3>
        <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/ontario/ideate/wireflow.png" alt="wireflow">
        <h3 class="h3-section">Wire Frame - Low Fidelity</h3>
        <img src="https://raw.githubusercontent.com/alan-mak/Moonfolio/master/images/ontario/ideate/wireframe.png" alt="wireframe">
        <section class="button-container"><a href="https://www.figma.com/proto/KLvHEznvjPb6iwSUe9mHei/Hi-fi-Vaccine?node-id=218%3A3629&scaling=scale-down&page-id=0%3A1&starting-point-node-id=218%3A3606" class="button">See My Prototype</a></section>
      </main>
    </body>
    <%- include('partials/_footer.ejs') %>
    
    </html>