@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&family=Signika:wght@300;400;500;600;700&display=swap");
footer {
  bottom: 0;
  padding: 40px 50px;
  font-size: 12px;
  color: #1a1b1f;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

footer ul li {
  float: right;
}

footer ul li a {
  margin: 0 40px;
  text-decoration: none;
}
