@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&family=Signika:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Voltaire&display=swap");
html {
  overflow: scroll;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #eee6e6;
}

body main {
  width: 84%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body main #boozyimage {
  background: url("/image/project1.jpg");
  background-size: 1367px 572px;
  background-position: center;
  width: 1367px;
  height: 572px;
  border: 12px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 5px 10px 6px #cabcbc;
}

body main div {
  width: 82%;
}

body main div h1 {
  font-family: "Sanchez", normal;
  font-weight: 700;
}

body main div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

body main div div section {
  width: 45%;
}

body main div div section .detailTitle {
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 1rem;
}

body main div div section h1 {
  color: #977C7C;
  font-family: "Sunflower", normal;
}

body main div div section p {
  font-family: "Sanchez", normal;
}

body main div div section h3 {
  font-family: "Signika Negative", normal;
  color: #616161;
  font-weight: 400;
  font-size: 0.8rem;
  margin: 0;
}

body main #image-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FDF8F8;
  margin: 0 auto;
}

body main #image-gallery h1 {
  font-family: "Voltaire", normal;
}

body main #image-gallery h3 {
  width: 88%;
  align-items: flex-start;
  font-family: "Signika Negative", normal;
  color: #616161;
  font-weight: 400;
}

body main #image-gallery div div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body main #image-gallery div div img {
  margin: 3vh 0;
  max-width: 75%;
  max-height: 50%;
}

body main #design h1 {
  font-family: "Voltaire", normal;
  text-align: center;
}

body main #design h3 {
  font-family: "Signika Negative", normal;
  color: #616161;
}

body main #design div {
  font-family: "Sanchez", normal;
  justify-content: space-between;
}

body main #design div ul {
  margin-top: 0;
}

body main #design div ul h4 {
  margin-bottom: 0;
}

body main #design div img {
  max-width: 60%;
  margin-top: 3vh;
}
