@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&family=Signika:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Voltaire&display=swap");
@font-face {
  font-family: 'Sanasation';
  src: url("/fonts/SansationRegular.eot"), url("/fonts/SansationRegular.eot?#iefix") format("embedded-opentype"), url("/fonts/SansationRegular.woff") format("woff"), url("/fonts/Sansation_Regular.ttf") format("truetype"), url("/fonts/SansationRegular.svg") format("svg");
}

html {
  box-sizing: border-box;
  overflow: scroll;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #FFFFFF;
}

body header nav ul {
  background-color: #FFFFFF;
}

body .title-highlight {
  width: 30%;
  align-items: flex-start;
  font-family: "Signika Negative", normal;
  color: #616161;
  font-weight: 700;
  font-size: 2rem;
  background-color: #E5E5E5;
  border: 15px solid #E5E5E5;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-left: -1%;
  margin-top: 0%;
  margin-right: 75%;
  padding-right: 5%;
  text-align: end;
}

body .line {
  border: 2px solid #977C7C;
  height: 0;
  background-color: #977C7C;
  align-self: center;
  margin: 0 2% 0 -2%;
  width: 48%;
}

body .title {
  display: flex;
  justify-content: start;
  width: 100%;
  margin: 0;
}

body .title h1 {
  font-size: 2.2rem;
  font-weight: 400;
  font-family: "Voltaire", normal;
}

body .h3-section {
  width: 70%;
  margin: 1rem auto 0 auto;
  color: #977C7C;
  font-family: "Sunflower", normal;
  font-size: 2rem;
}

body .list-style {
  padding-inline-start: 0;
  list-style-position: inside;
  margin-top: 0;
}

body .button-container {
  display: flex;
  justify-content: center;
}

body .button-container .button {
  box-sizing: border-box;
  border: 1px solid #192B5A;
  color: #192B5A;
  border-radius: 75px;
  text-decoration: none;
  font-family: "Sunflower", normal;
  font-size: 1.5rem;
  padding: 1rem;
}

body .fake-div {
  width: 70%;
  margin: 0 auto;
}

body .fake-div p {
  font-family: "Sanchez", normal;
  margin-top: 0;
}

body .fake-div img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

body .fake-div #affinity {
  width: 100%;
}

body a::visited {
  text-decoration: none;
}

body main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body main #project2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

body main #project2 img {
  max-width: 30%;
}

body main #project2 div {
  flex-direction: column;
  width: auto;
  text-transform: uppercase;
}

body main #project2 div h1 {
  margin-bottom: 0;
  font-family: "Sanasation", normal;
  font-size: 2.2rem;
  color: #192b5a;
  font-weight: 700;
}

body main #project2 div h2 {
  margin-top: 0;
  font-family: "Sanasation", normal;
  font-size: 2.05rem;
  font-weight: 400;
}

body main #humberimage {
  width: 84%;
  max-height: 20%;
  border-radius: 25px;
}

body main #info #summary {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

body main #info #summary section {
  width: 45%;
}

body main #info #summary section .detailTitle {
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 1rem;
}

body main #info #summary section h2 {
  color: #977C7C;
  font-family: "Sunflower", normal;
  font-size: 2.05rem;
}

body main #info #summary section p {
  font-family: "Sanchez", normal;
}

body main #info #summary section p span {
  color: #977C7C;
  font-style: italic;
}

body main #info #summary section h6 {
  font-family: "Signika Negative", normal;
  color: #616161;
  font-weight: 400;
  font-size: 0.8rem;
  margin: 0;
}

body main #image-gallery div {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

body main #image-gallery div img {
  max-width: 45%;
  margin: 1rem auto;
}

body main #features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

body main #features div div {
  display: flex;
  justify-content: center;
}

body main #features div div img {
  display: block;
  align-self: center;
  max-width: 35%;
  margin: 1.5rem auto;
}

body main #features div #bigger-img {
  max-width: 60%;
  display: block;
  margin: 1.5rem auto;
}

body main #features section {
  font-family: "Sanchez", normal;
  font-weight: 400;
  font-size: 1rem;
  margin: 1.5rem auto;
}

body main #features section span {
  font-size: 1.5rem;
  color: #977C7C;
  font-family: "Sunflower", normal;
}

body main #design .table {
  font-family: "Sanchez", normal;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

body main #design .table div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
}

body main #design .table div .heading {
  width: 25%;
}

body main #design .table div .result {
  width: 25%;
}

body main #design .table div section {
  font-weight: 400;
  text-align: start;
}

body main #design .table div section ol li::marker {
  content: "(" counter(list-item) ") ";
}

body main #design .table div section ul {
  margin-bottom: 0;
}

body main #design article {
  display: flex;
  justify-content: space-evenly;
  font-family: "Sanchez", normal;
  width: 100%;
}

body main #design article ul section {
  justify-content: start;
  margin: 0 0 1rem -1rem;
}

body main #design article ul li {
  list-style-position: inside;
}

body main #define div {
  font-family: "Sanchez", normal;
}

body main #define div img {
  width: 70%;
  display: block;
  margin: 1rem auto;
}

body main #define div section {
  width: 70%;
  margin: 0 auto;
}

body main #define #guide img {
  width: 40%;
}
