@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&family=Signika:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Voltaire&display=swap");
@font-face {
  font-family: 'Sanasation';
  src: url("/fonts/SansationRegular.eot"), url("/fonts/SansationRegular.eot?#iefix") format("embedded-opentype"), url("/fonts/SansationRegular.woff") format("woff"), url("/fonts/Sansation_Regular.ttf") format("truetype"), url("/fonts/SansationRegular.svg") format("svg");
}

html {
  box-sizing: border-box;
  overflow: scroll;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  color: #756464;
  background-color: #EEE6E6;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

body main {
  width: 84%;
  margin: 0 auto;
}

body main #home-intro {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 105%;
  gap: 1em;
  font-family: "Montserrat", sans-serif;
}

body main #home-intro #portfolio-picture {
  border-radius: 200px 200px 0 0;
  box-shadow: 14px 1px 17px 2px #b6a9a9;
  z-index: 11;
  width: 25%;
}

body main #home-intro #div-block {
  width: 15%;
  height: 0%;
  margin-left: -5rem;
  border-color: #000000;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  opacity: 0.69;
  outline-color: #555555;
  outline-style: none;
  object-fit: fill;
  text-align: center;
  z-index: 12;
}

body main #home-intro #home-intro-text {
  width: auto;
  z-index: 11;
}

body main #home-intro #home-intro-text h1 {
  font-size: 90px;
  margin: 0;
  font-weight: 400;
  font-style: italic;
}

body main #highlights {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 100px 30px 30px 30px;
  position: relative;
  margin-top: -100px;
  z-index: 10;
}

body main #highlights #highlights-title {
  height: auto;
  margin-top: -144px;
  margin-left: -11%;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
  font-size: 44px;
  color: #76787e;
  font-weight: 400;
}

body main #highlights .flex-container {
  display: flex;
  flex-flow: row wrap;
  gap: 2em;
  margin: 1rem auto;
}

body main #highlights .flex-container .highlights-text {
  flex: 1 0 0;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

body main #highlights .highlights-img {
  width: 50%;
  border-radius: 15px;
}

body main #highlights h2 {
  font-size: 100px;
  margin: 0;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  color: #756464;
  align-self: start;
}

body main #highlights h3 {
  margin: 0;
  display: flex;
  align-self: center;
  font-size: 36px;
  font-weight: 600;
}

body main #highlights p {
  font-size: 16px;
  line-height: 28px;
}

body main #highlights a {
  padding: 9px 15px;
  font-size: 16px;
  color: #756464;
  border: 1px solid #756464;
  border-radius: 10px;
  width: fit-content;
  float: right;
  margin-right: 50px;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .highlights-img {
    flex: 1 0 100%;
  }
  .highlights-text {
    flex: 1 0 100%;
  }
  #home-intro-text h1 {
    font-size: 50px;
  }
}
