@import "constants.scss";

.navback {
  width: 90%;
  margin: 0 auto;
  padding-left: 40px;
  a {
    margin: 0 10px;
    color: $colour4;
    font-family: $font1;
    font-weight: 500;
    text-decoration: none;
  }

  a::visted {
    text-decoration: none;
  }
}

@media screen and (max-width: 428px) {
  .navback {
    display: none;
  }
}