@import "constants.scss";

footer {
  bottom:0;
  padding: 40px 50px;
  font-size: 12px;
  font-family: $font1;
  font-weight: 400;
  
  ul{
    padding:0;
    margin:0;
    list-style-type: none;
    
    li{
      float: right;
      
      a {
        text-decoration: none;
        color: $colour3;
        p {
          margin: 0 40px;
          text-decoration: none;
          color: $footer-colour;
        }
        
        .fa-solid {
          display: none;
        }
        .fa-brands {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 428px) {
  footer {
    ul {
      display: flex;
      justify-content: space-between;
      li {
        a {
          text-decoration: none;
          p {
            display: none;
          }
          .fa-solid {
            display: block;
          }
          .fa-brands {
            display: block;
          }
        }
      }
    }
  }
}