@import "constants.scss";

header {
  nav {
    ul {
      display: flex;
      justify-content: space-between;
      width: 90%;
      height: 10vh;
      margin: 0 auto;
      background-color: $background1;

      .fa-bars {
        display: none;
      }
      
      li {
        list-style-type: none;
        display: inline-block;
        padding: 20px 40px 11px 0;
        border-bottom: 3px solid $colour2;
        margin: 0 10px;
        font-weight: 500;
        font-family: $font1;
        color: $colour2;
        a {
          color: $colour2;
          text-decoration: none;
        }
      }
      #home {
        border-bottom: none;
      }
      li:hover {
        border-bottom: 5px solid $colour1;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 428px) {
  header {
    nav {
      ul {
        // background-color: $colour3;
        padding: 0 2.5rem;

        #home {
          min-width: fit-content;
        }
        .fa-bars {
          display: block;
          padding: 1rem;
        }
        div {
          display: flex;
          flex-direction: column;
          text-align: end;
          // width: inherit;
          width: 100%;
          .menu {
            display: none;
          }
          .show {
              display: block !important;

              li {
                padding: 1.5rem;
                a {
                  text-align: center;
                }
              }
          }
        }
      }
    }
  }

  main {
    display: none !important;
  }
  footer {
    display: none;
  }
}