$border-colour: #584b4b;

header {
  nav {
    ul {
      display: flex;
      justify-content: space-between;
      width: 90%;
      height: 10vh;
      margin: 0 auto;
      
      li {
        list-style-type: none;
        display: inline-block;
        padding: 20px 40px 11px 0;
        border-bottom: 3px solid $border-colour;
        margin: 0 10px;
        font-weight: 500;
        a {
          color: #756464;
        }
      }
      #home {
        border-bottom: none;
      }
      li:hover {
        border-bottom: 5px solid $border-colour;
      }
    }
  }
}
