@import "constants.scss";

html {
  overflow: scroll;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: $background;
  
  main {
    width: 84%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    #boozyimage {
      background: url("/image/project1.jpg");
      background-size: $boozyimagewidth $boozyimageheight;
      background-position: center;
      width: $boozyimagewidth;
      height: $boozyimageheight;
      border: 12px solid rgba(255, 255, 255, 0.5);
      box-sizing: border-box;
      box-shadow: 0px 5px 10px 6px #cabcbc; 
    }

    div {
      width: 82%;
      h1 {
        font-family: $font3;
        font-weight: 700;
      }
      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        section {
          width: 45%;

          .detailTitle {
            text-transform: uppercase;
            margin-top: 1rem;
            font-size: 1rem;
          }
          h1 {
            color: $colour3;
            font-family: $font4;
          }
          p {
            font-family: $font3;
          }
          h3 {
            font-family: $font5;
            color: $colour4;
            font-weight: 400;
            font-size: 0.8rem;
            margin: 0;
          }
        }
      }
    }
    #image-gallery {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $colour5;
      margin: 0 auto;
      h1{
        font-family: $font6;
      }
      h3 {
        width: 88%;
        align-items: flex-start;
        font-family: $font5;
        color: $colour4;
        font-weight: 400;
      }
      div {
        div {
          display:flex;
          flex-direction: column;
          align-items: center;
          img{
          margin: 3vh 0;
          max-width: 75%;
          max-height: 50%;
          filter: drop-shadow(0px 4px 20px #977C7C);
          }
        }
      }
    }
    #design {
      h1 {
        font-family: $font6;
        text-align: center;
      }
      h3 {
        font-family: $font5;
        color: $colour4;
      }
      div {
        font-family: $font3;
        justify-content: space-between;
        ul {
          margin-top: 0;
          h4 {
            margin-bottom: 0;
          }
        }
        img {
          max-width: 60%;
          margin-top: 3vh;
        }
      }
      .card {
        img {
          max-width: 60%;
          filter: drop-shadow(0px 4px 20px #977C7C);
        }
        .line {
          border: 2px solid $colour3;
          height: 0;
          z-index: -1;
          background-color: $colour3;
          margin-top: 15.5%;
        }
        #line1 {
          margin-left: -10%;
        }
        #card2 {
          margin-top: -25%;
        }
        #line2 {
          margin-right: -10%;
        }
        h3 {
          margin-top: 10%;
          font-family: $font3;
          font-weight: 400;
          font-size: 2rem;
        }
      }
    }
  }
}