@import "constants.scss";

html {
  overflow: scroll;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: $background;
  header {
    nav {
      ul {
        background-color: $background;
      }
    }
  }
  
  .title-highlight {
    width: $width2;
    align-items: flex-start;
    font-family: $font5;
    color: $colour4;
    font-weight: 700;
    font-size: $h3size;
    background-color: $background2;
    border: 15px solid $background2;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: -1%;
    margin-top: 0%;
    margin-right: 75%;
    padding-right: 5%;
    text-align: end;
    section {
      font-size: $h4size;
    }
  }
  
  .title {
    display: flex;
    h1 {
      font-size: $h1size;
      font-weight: $weighttitle;
      font-family: $font6;
      margin: 2rem;
    }
  }
  .title::before {
    content:"";
    flex: 1 1;
    border-bottom: 4px solid $colour3;
    margin: auto;

  }
  .title::after {
    content:"";
    flex: 1 1;
    border-bottom: 0px solid;
    margin: auto;
  }

  .h3-section {
    width: $width7;
    margin: 0 auto;
    color: $colour3;
    font-family: $font4;
    font-size: $h3size;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    .button {
      padding: 9px 15px;
      font-size: $h4size;
      font-family: $font1;
      color: $colour2;
      border: 2px solid $colour2;
      border-radius: 10px;
      width: fit-content;
      float: right;
      text-decoration: none;
      margin-top: -10px;
    }
    .button:hover {
      transition: all 0.5s;
      background-color: $colour2;
      color: $background;
    }
  }

  a::visited {
    text-decoration: none;
  }

  main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      width: 101%;
    }

    #project1 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      img {
        width: 15%;
      }
      div {
        flex-direction: column;
        width: auto;
        text-transform: uppercase;
        h1 {
          margin-bottom: 0;
          font-family: $font7;
          font-size: $h1size;
          color: #b623fe;
          font-weight: 700;
        }
        h2 {
          margin-top: 0;
          font-family: $font7;
          font-size: $h1size;
          font-weight: $weighttitle;
        }
      }
    }
    #boozyimage {
      width: $boozyimagewidth;
      border-radius: 25px;
    }

    #info {
      #summary {
        width: $width7;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        section {
          width: 45%;
          font-size: $h4size;
          display: flex;
          flex-direction: column;
              
          .detailTitle {
            text-transform: uppercase;
            margin-top: 1rem;
            font-size: $h4size;
            font-weight: $weighttitle;
            text-decoration: underline;
          }
          h2 {
            color: $colour3;
            font-family: $font4;
            font-size: $h2size;
            margin-bottom: 0;
          }
          p {
            margin-top: 0.5rem;
            font-family: $font5;
            font-weight: $weightregular;
            span {
              color: $colour3;
              font-style: italic;
            }
          }
          h6 {
            font-family: $font5;
            color: $colour4;
            font-weight: $weightregular;
            font-size: 1.4rem;
            margin: 0;
          }
        }
      }
    }

    #image-gallery {
      #image-cart {
        display: flex;
        width: $width7;
        margin: 0 auto;
        gap: 2rem;
        div {
          display: flex;
          flex-direction: column;
          width: $width5;
          justify-content: space-between;
          img {
            margin-top: 3vh;
            filter: drop-shadow(0px 4px 15px $colour3);
          }
        }
      }
    }
    #design {
      font-family: $font5;
      font-weight: $weightregular;
      #design_points {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        width: $width7;
        #design1 {
          flex: 4;
        }
        #design2 {
          flex: 3;
        }
        section {
          width: inherit;
        }
        div {
          width: inherit;
          p {
            margin: 0;
            font-size: $h4size;
            font-weight: $weighttitle;
          }
          ul {
            padding-left: 1em;
            margin-bottom: 2rem;
            font-size: $h4size;
            li {
              list-style-position: outside;
            }
          }
        }
      }
      #cardGroup {
        display: flex;
        justify-content: flex-start;
        font-family: $font5;
        font-weight: $weightregular;
        width: $width7;
        flex-direction: column;
        margin: 0 auto;
        h3 {
          margin: 0.5rem 0;
          color: $colour4;
        }
        .card {
          display: flex;
          gap: 2rem;
          margin-bottom: 5rem;
          img {
            max-width: $width6;
            margin-top: 3vh;
          }
          #line1 {
            margin-left: -$width1;
          }
          #card2 {
            margin-top: -25%;
          }
          #line2 {
            margin-right: -$width1;
          }
          h3 {
            font-family: $font4;
            font-weight: $weighttitle;
            font-size: $h3size;
          }
          #card-caption {
            align-self: end;
          }
        }
      }
    }
    #define {
      display: flex;
      flex-direction: column;
      width: $width7;
      margin: 1rem auto 5rem auto;
      img {
        align-self: center;
        max-width: $width;
      }
    }
    
    #ideate {
      section {
        margin: 0 auto;
        width: $width7;
        img {
          display: flex;
          width: 84%;
          margin: 0 auto;
        }
        .wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 auto;
          #moodBoard {
            margin-top: 3rem;
            width: $width4;
          }
          .wrapimg {
            text-align: left;
            width: $boozyideatewidth;
          }
          h5 {
            font-family: $font3;
            font-size: $h5size;
            font-weight: $weighttitle;
            width: $boozyideatewidth;
            float: left;
            color: $colour2;
            margin-bottom: 5rem;
          }
        }
      }
    }
  }
}
