@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;1,400&display=swap');

$font1: 'Montserrat', sans-serif;
$font2: 'Inconsolata', monospace;

$background: #eee6e6;
$colour1: #584b4b;
$colour2: #756464;
$colour3: #977C7C;
$colour4: #616161;
$footer-colour: #1a1b1f;

$highlight-top: 100px;
$highlight-font: 44px;

$workimagewidth: 566px;
$workimageheight: 487px;
$worktitlemargin: 10%;
$worktitlewidth: 40%;