@import "constants.scss";

html {
  box-sizing: border-box;
  overflow: scroll;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: $background;
  header {
    nav {
      ul {
        background-color: $background;
      }
    }
  }

  .title-highlight {
    width: $width2;
    align-items: flex-start;
    font-family: $font5;
    color: $colour4;
    font-weight: 700;
    font-size: $h3size;
    background-color: $background2;
    border: 15px solid $background2;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: -1%;
    margin-top: 0%;
    margin-right: 75%;
    padding-right: 5%;
    text-align: end;
  }

  .title {
    display: flex;
    h1 {
      font-size: $h1size;
      font-weight: $weighttitle;
      font-family: $font6;
      margin: 2rem;
    }
  }
  .title::before {
    content:"";
    flex: 1 1;
    border-bottom: 4px solid $colour3;
    margin: auto;

  }
  .title::after {
    content:"";
    flex: 1 1;
    border-bottom: 0px solid;
    margin: auto;
  }

  .h3-section {
    width: $width7;
    margin: 0 auto;
    color: $colour3;
    font-family: $font4;
    font-size: $h3size;
  }

  .list-style {
    padding-inline-start: 0;
    list-style-position: inside;
    margin-top: 0;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    .button {
      padding: 9px 15px;
      font-family: $font1;
      font-size: $h4size;
      color: $colour2;
      border: 2px solid $colour2;
      border-radius: 10px;
      width: fit-content;
      float: right;
      text-decoration: none;
      margin-top: -10px;
    }
    .button:hover {
      transition: all 0.5s;
      background-color: $colour2;
      color: $background;
    }
  }

  .fake-div {
    width: $width7;
    margin: 0 auto;
    p {
      font-family: $font5;
      font-weight: $weightregular;
      font-size: $h4size;
      margin-top: 0;
      margin-bottom: 0;
    }
    img {
      width: $width5;
      display: block;
      margin: 0 auto;
    }
    #affinity {
      width: $width;
    }
  }

  a::visited {
    text-decoration: none;
  }

  main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      width: 101%;
    }

    #project2 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      img {
        max-width: $width3;
      }
      div {
        flex-direction: column;
        width: auto;
        text-transform: uppercase;
        h1 {
          margin-bottom: 0;
          font-family: $font7;
          font-size: $h1size;
          color: #192b5a;
          font-weight: 700;
        }
        h2 {
          margin-top: 0;
          font-family: $font7;
          font-size: $h2size;
          font-weight: $weighttitle;
        }
      }
    }

    #humberimage {
      width: $boozyimagewidth;
      max-height: $boozyimageheight;
      border-radius: 25px;
    }

    #info {
      #summary {
        width: $width7;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        section {
          width: 45%;
          font-size: $h4size;

          .detailTitle {
            text-transform: uppercase;
            margin-top: 1rem;
            font-size: $h4size;
            font-weight: $weighttitle;
            text-decoration: underline;
          }
          h2 {
            color: $colour3;
            font-family: $font4;
            font-size: $h2size;
            margin-bottom: 0;
          }
          p {
            margin-top: 0.5rem;
            font-family: $font5;
            font-weight: $weightregular;
            span {
              color: $colour3;
              font-style: italic;
            }
          }
          h6 {
            font-family: $font5;
            color: $colour4;
            font-weight: $weightregular;
            font-size: 1.4rem;
            margin: 0;
          }
        }
      }
    }

    #image-gallery {
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: $width;
        img {
          width: 45%;
          margin: 1rem auto;
        }
      }
    }

    #features {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: $width;
      div {
        div {
          display: flex;
          justify-content: center;
          img {
            display: block;
            align-self: center;
            max-width: 35%;
            margin: 1.5rem auto;
          }
        }
        #bigger-img {
          max-width: $width6;
          display: block;
          margin: 1.5rem auto;
        }
      }

      section {
        font-family: $font5;
        font-weight: $weightregular;
        font-size: $h4size;
        margin: 1.5rem auto;
        span {
          font-family: $font4;
          font-weight: $weighttitle;
          font-size: $h3size;
          color: $colour3;
        }
      }
    }
    #design {
      .table {
        font-family: $font5;
        font-size: $h4size;
        font-weight: $weightregular;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem auto;
        width: 99%;
        div {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          .heading {
            width: 25%;
          }
          .result {
            width: 25%;
          }
          section {
            font-weight: $weightregular;
            text-align: start;
            ol {
              li::marker {
                content: "(" counter(list-item) ")\2003";
              }
            }
            ul {
              margin-bottom: 0;
            }
          }
        }
      }
      article {
        display: flex;
        justify-content: space-evenly;
        font-family: $font5;
        font-weight: $weightregular;
        font-size: $h4size;
        width: $width;
        ul {
          section {
            justify-content: start;
            margin: 0 0 1rem -1rem;
          }
          li {
            list-style-position: inside;
          }
        }
      }
    }
    #define {
      div {
        font-family: $font5;
        font-weight: $weightregular;
        width: $width7;
        margin: 0 auto;
        img {
          width: $width;
          display: block;
          margin: 1rem auto;
        }
        section {
          margin: 0 auto;
          font-size: $h4size;
        }
      }
      #guide {
        img {
          width: $width4;
        }
      }
    }
  }
}
